@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #05050a;
  color: #e6e6f0;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #262638;
  border-radius: 4px;
}
